<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Breadcrumbs</title>
	</head>
	<body>

		<script id="userTemplate" type="text/template">
		    <ul>
		        <li><%= username %></li>
		        <li><%= email %></li>
		    </ul>

		    <button class="delete">Close Connection</button>
		</script>
        <script src="js/libs/jquery-1.10.2.min.js"></script>  
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>
        <script src="js/models/user.js"></script>
        <script src="js/models/connection.js"></script>
        <script src="js/collections/following.js"></script>
        <script src="js/collections/follower.js"></script>
        <script src="js/views/crumb.js"></script>
        <script src="js/views/user.js"></script>
        <script src="js/app.js"></script>

 

    <button id="btn-init">get location</button>
    <button id="btn-stop">stop location</button>
    <div id="output">

    </div>

    <script type="text/javascript">  

        $("#btn-init").click(function(){initiate_watchlocation()});  
        $("#btn-stop").click(function(){stop_watchlocation()});  

        var watchProcess = null;

        function initiate_watchlocation() {
            if (watchProcess == null) {
                watchProcess = navigator.geolocation.watchPosition(handle_geolocation_query, handle_errors);
            }
        }

        function stop_watchlocation() {
            if (watchProcess != null)
            {
                navigator.geolocation.clearWatch(watchProcess);
                watchProcess = null;
            }
        }

        function handle_errors(error)  
        {  
            switch(error.code)  
            {  
                case error.PERMISSION_DENIED: alert("user did not share geolocation data");  
                break;  
                case error.POSITION_UNAVAILABLE: alert("could not detect current position");  
                break;  
                case error.TIMEOUT: alert("retrieving position timedout");  
                break;  
                default: alert("unknown error");  
                break;  
            }  
        }  

        function handle_geolocation_query(position) {  
            var text = "Latitude: "  + position.coords.latitude  + "<br/>" +  
                       "Longitude: " + position.coords.longitude + "<br/>" +  
                       "Accuracy: "  + position.coords.accuracy  + "m<br/>" +  
                       "Time: " + new Date(position.timestamp);
            $("#output").empty().append("<p>" + text + "</p>")
            jQuery("#info").html(text);
            var image_url = "http://maps.google.com/maps/api/staticmap?sensor=false&center=" + position.coords.latitude + ',' + position.coords.longitude +  
                            "&zoom=14&size=300x400&markers=color:blue|label:S|" + position.coords.latitude + ',' + position.coords.longitude;  
            jQuery("#map").remove();
            jQuery(document.body).append(  
                jQuery(document.createElement("img")).attr("src", image_url).attr('id','map')
            );
        }

    </script>  
	</body>
</html>
